* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
	font-size: 16px;
    background: url('./img/pattern.jpg') center center;
}
/* navbar */
.navbar {
    font-size: 1.125rem;
    background: blue;
    padding-bottom: 0.625rem;
    border-bottom: 0.1rem solid black;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.main-nav {
    list-style-type: none;
    /* display: none; */
    height: 0rem;
    overflow: hidden;
    transition: all 1s linear; 
}
.active {
    /* display: block; */
    height: 10rem;
  }
.nav-links, .logo {
    text-decoration: none;
    color: rgba(255,255,255,0.7);
}
.main-nav li {
    text-align: center;
    margin: 1rem;
}
.logo {
    display: inline-block;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
}
.navbar-toggle {
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 1.5rem;
}
.fa-brain {
    color: rgb(26, 156, 54);
    padding-left: 2rem;
    font-size: 1.5rem;
    transition: all 2s ease;
}
.fa-brain:hover {
    color: gray;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
  }
/* start of nav desktop */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 4.5rem;
        align-items: center;
        border-bottom: 0.3rem solid black;
    }
    .main-nav {
        display: flex;
        margin-right: 2rem;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        transition: none;
    }
    .main-nav li {
        margin: 0;
        align-self: center;
    }
    .nav-links {
        margin-left: 2.5rem;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover, .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}
/* end of nav desktop */
/* end of navbar */

/* start of header */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url(./img/background.jpg)center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
}
.header__icon {
    align-self: flex-end;
}
.fa-arrow-circle-down {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: black
}
/* end of header */
/* start of title section */
.section-title {
    padding-top: 2rem;
    text-align: center;
}
.section-title__name {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-transform: capitalize;
    font-weight: 700;
    font-style: italic;
}
/* end of title section title */
/* projects section */
.projects {
    padding: 3rem 0;
}
.projects__center {
    max-width: 90vw;
    margin: 2rem auto;
}
.projects__single-project {
    margin: 2rem auto;
    position: relative;
}
.projects__single-project-img {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
}
.projects__single-project::before {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(0);
    transition: all 1s ease;
    opacity: 0;
}
.projects__single-project:hover:before {
    transform: scale(1);
    opacity: 0.5;
}
.projects__single-project-icon {
    color: var(--light);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    transform: scale(0);
    opacity: 0;
    transition: all 1.3s ease;
}
.projects__single-project-icon:hover {
    color: gray;
}
.projects__single-project:hover .projects__single-project-icon {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
}
@media screen and (min-width:768px) {
    .projects__center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .projects__single-project {
        flex: 0 0 calc(50% - 0.5rem);
    }
}
@media screen and (min-width:992px) {
    .projects__single-project {
        flex: 0 0 calc(25% - 0.5rem);
    }
}
/* end of projects section */